#deals{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
#deals img{
    width: 100%;
}
.banner{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.banner img{
    width: 100%;
}
#bb{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
#bb img{
    width: 100%;
}
#btob{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
#btob img{
    width: 100%;
}
#gb{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
#gb img{
    width: 100%;
}
#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#main img{
    width: 100%;
}
footer{
    margin-top: 1%;
    background-color: rgba(220, 220, 220, 0.199);
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
footer ul{
    list-style-type: none;
}
footer li{
    padding: 2.5%;
}
#store img{
    width: 90%;
}
#q img{
    margin: auto;
    display: block;
    width: 30%;
}

#popup{
    display: none;
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    position: fixed;
    top: 11.1%;
    right: 13%;
    z-index: 1;
    background-color: white;
    padding: 1%;
}
#popup ul,li{
    list-style-type: none;
    padding: 1%;
    margin: 1%;
}
#popup li:nth-child(2):hover{
    font-weight: initial;
}
#popup li:hover{
    font-weight: 600;
}
#popup button{
    padding: 5%;
    font-size: large;
    background-color: unset;
    border: 2px solid rgb(200, 200, 200);
    color: rgb(255, 115, 0);
}
#popup button:hover{
    border-color: rgb(255, 115, 0);
}
